* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header img {
    height: 36px;
    margin-right: 12px;
}

body {
    background-color: #E7E7E7;
    padding-top: 50px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    flex-direction: column;
}

form input {
    font-size: 22px;
    background-color: #eee;
    padding: 4px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
}

form button {
    background-color: #00c661;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 6px;
}

table {
    width: 100%;
}

table th {
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form img {
    height: 36px;
    width: 36px;
    margin: auto;
    margin-top: 6px;
    display: none;
}


